.box{
    width: 100px;
    height: 100px;
    color: white;
    /* căn giữa text giữa các khối */
    display: flex;
    justify-content: center;
    align-items: center;

}

.box1{
    background: red;
}

.box2{
    background-color: blue;
    /* position: static; */
    position: relative;
    /* left: 50px; */
    /* right: 50px; */
    /* top: 50px; */
    /* bottom: 50px; */
}

.box3{
    background-color: green;
    position: relative;
    bottom: 50px;
}

h1{
    background: rgb(250, 94, 250);
}