/* Chọn thẻ h2 sát ngay sau thẻ h1
h1 + h2 {
  color: red;
}

/* 2 dòng chuyển xanh vì cs 2 class demo */
/* .demo + h3{
    color: blue;
} */
/*
.demo2.demo + h3, p{
    color: blue;
} */

h1 ~ h3{
    color: blue;
}

div ~div{
    color: pink;
    
}
