.btn {
  width: 200px;
  height: 40px;
  background-color: green;
  color: #fff;
  border: none;
  cursor: pointer;
  /* transition: 0.5s; */
  /* transition-duration: 10s;
  transition-property: background-color, color;
  transition-delay: 3s;
  transition-timing-function: ease-in; */

  /* transition shorthand */
  /* transition: 1s; */
  /* transition: all ease-in 1s 3s; */
  /* transition:  color 1s 2s ease-in, background-color 1s 2s ease-in; */
  /* transition: background-color 1s 2s ease-in; */
}

.btn:hover {
  color: yellow;
  background-color: red;
  /* display: none; */
  opacity: 0;
  transition: 2s linear;
}
