.box {
  width: 200px;
  height: 200px;
  background-image: url(./bg/1.PNG);
  border: 50px dotted black;
  padding: 50px;
  background-clip: border-box;
  background-clip: padding-box;
  background-clip: content-box;
}

/* nếu web ko hỗ trợ */
.text_hightline {
  color: aqua;
}
/* Kiểm tra xem trình duyệt có hỗ trợ thuộc tính này ko */
@supports (background-clip: text) or (-webkit-background-clip: text) {
  .text_hightline {
    color: transparent;
    /* background-color: pink; */
    background-image: linear-gradient(rgb(115, 222, 255), rgb(107, 235, 23));
    background-clip: text;
    -webkit-background-clip: text;
  }
}
