.box {
  width: 400px;
  height: 200px;
  border: 4px dotted blue;
  background-image: url(./bg/bg1.jpg);
  /* background-position: top right; */
  /* background-position: top left; */
  /* background-position: top; */
  /* background-position: bottom; */
  /* background-position: bottom right; */
  /* background-position: bottom left; */
  /* background-position: center; */
  /* background-position: -30% 0%; */
  background-position: 0 0;
  background-repeat: no-repeat;
}

img {
  margin-top: 20px;
}
