h2{
    /* opacity: 0; */
    /* display: none; */
    visibility: hidden;
    background-color: blue;
}

h3{
    opacity: 0.6;
}

body{
    background-image: url(./img/MD.jpg);
}

span{
    /* opacity: 1; */
    /* display: block; */
    visibility: visible;
}